@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Space+Grotesk:wght@300..700&display=swap');

body {
    font-family: "Bricolage Grotesque", sans-serif;
}

.navbar-brand {
    color: darkgreen;
    font-size: xx-large;
}
.hero-content{
    background-color: #f9E6D0;
}
